.LandingPage{
        margin: 40px 0px;
}


.LandingPageHero{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.LandingPageContent{
    flex:1;
}

.LandingPageImg{
    flex:1;
}